[saia]
type = ftp
host = {{ ftp_host }}
user = {{ ftp_user }}
port = {{ ftp_port }}
pass = {{ ftp_pass }}
tls = {{ ftp_tls }}
concurrency = {{ ftp_concurrency }}
no_check_certificate = {{ ftp_no_check_certificate }}